@import '../../styles/theme.scss';

.header--wrapper {
    //display: flex;
    height: 200px;
    width: 100%;
    background: palette(yellow_1);
    text-align: left;
    font-family: 'Fira Sans', sans-serif;

    .header--title {
        position: relative;
        margin-top: 1em;
        margin-left: 100px;
        font-family: 'Ranchers', cursive;
        font-size: 50px;
        letter-spacing: 2px;
        width: max-content;
        font-weight: bolder;
        color: white;

        @media (max-width: 1100px) {
            margin-left: 80px;
        }

        @media (max-width: 900px){
            margin-left: 50px;
            font-size: 40px;
            margin-top: .9em;
        }

        @media (max-width: 450px) {
            margin-left: 40px;
            margin-top: .7em;
        }

        @media (max-width: 380px) {
            margin-left: 30px;
        }

        p:first-child {
            font-size: 60px;
            letter-spacing: 5px;
            line-height: .3em;

            @media (max-width: 900px) {
                font-size: 50px;
            }
        }

        p:last-child {
            line-height: 1.1em;
        }
    }

    .navbar{
        float: right;
        margin-right: 13em;
        margin-top: 0;

        @media (max-width: 1100px) {
            margin-right: 9em;
        }

        @media (max-width: 900px) {
            margin-right: 4em;
        }

        @media (max-width: 450px) {
            margin-right: 2em;
            margin-top: 1.7em;
        }

        &--item {
            border-bottom: 3px solid white;
        }

        &--item:not(:last-child){
            margin-right: 1.7em;

            @media (max-width: 450px) {
                margin-right: 1.3em;
            }

            @media (max-width: 340px) {
                margin-right: 1em;
            }
        }

        &--item__link {
            text-decoration: none;
            font-size: 20px;
            font-weight: 600;
            color: white;

            @media (max-width: 900px) {
                font-size: 17px;
            }

            @media (max-width: 340px) {
                font-size: 15px;
            }

            &:active{
                text-decoration: none;
            }
        }
    }
}


.custom-shape-divider-top-1600437539 {
    /*position: absolute;
    top: 0;
    left: 0;*/
    width: 100%;
    overflow: hidden;
    line-height: 0;
}


.custom-shape-divider-top-1600437539 svg {
    position: relative;
    display: block;
    width: calc(188% + 1.3px);
    height: 184px;
}

.custom-shape-divider-top-1600437539 .shape-fill {
    fill:  palette(yellow_1);
}